h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Aplicar cultura de buen trato en la atención en salud a la población privada de la libertad teniendo en cuenta el enfoque de derechos, diferencial y los principios éticos.



