.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo Salud Penitenciaria
            h1.curso-titulo DDHH y Ética médica

            .brand-line-primary

            p.curso-descripcion En este componente se desarrollarán actividades de conocimiento y aprendizaje acerca de los DDHH concernientes a la PPL y de la ética médica, donde los aprendices tendrán una aproximación de abordaje holístico y reconocimiento de la PPL como pacientes, teniendo en cuenta sus particularidades de género, poblacionales y socioculturales.
 


            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")