include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 Introducción

    .card.my-4
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/k8QzKKzerJs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .card-body

            p Partiendo de la base que el estado tiene la obligación especial del cuidado de aquellos quienes se encuentran en centros de detención, donde debe cubrir la seguridad, sus necesidades básicas y el reconocimiento de los derechos humanos incluyendo el derecho a la salud, los centros de detención deben ofrecer un servicio de cuidado primario en salud con personal, recursos e instalaciones mínimo con el mismo estándar de aquel disponible en la comunidad general, cobrando relevancia el principio de equivalencia como medida importante de la idoneidad del cuidado en salud en sitios de reclusión. Además, cabe resaltar que todo el personal de salud debe tener completa autonomía profesional y deben ser preferiblemente empleados de una autoridad de salud, a su vez deben entender y aceptar claramente el derecho a practicar su profesión dentro de los códigos de conducta profesional y las normas éticas. Es importante que todo el personal que labora en los centros de detención acepte que para el equipo de salud las personas privadas de la libertad son pacientes y deben ser tratados como tales.

            p.mt-4 La obligación de cuidado que recae en el personal profesional es la misma ya sea que el paciente se encuentre en libertad o en detención. La <strong>persona privada de la libertad (PPL)</strong> como paciente tiene el derecho a la confidencialidad y al tratamiento y cuidado que esté sujeto a consentimiento informado. Los servicios carcelarios de salud no deben estar aislados sino integrados a los sistemas regionales y nacionales de salud. 

            p.mt-4 Por lo anterior, este módulo aborda aspectos como el derecho a la salud de la PPL como paciente, los dilemas éticos propios del trabajo del personal de salud penitenciaria, la vulneración de derechos en el entorno penitenciario tales como el abuso y violencia sexual, tortura, malos tratos, huelga de hambre y aislamiento solitario. Y por último se hará una aproximación al tema del enfoque diferencial en perspectiva de la salud penitenciaria. 

            p.mt-4 Al final del módulo, se pretende que el aprendiz fomente el goce efectivo del derecho a la salud de la población privada de la libertad en el marco de los desafíos éticos propios del ámbito penitenciario, teniendo en cuenta el enfoque de derechos, diferencial y los principios éticos propios de los profesionales de la salud.
