.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody            
                tr
                    td WMA - The World Medical Association-Declaración de Malta de la AMM sobre las Personas en Huelga de Hambre. (2017).    
                    td Documento web. 
                    td(style="width:200px") 
                        a(href="https://www.wma.net/es/policies-post/declaracion-de-malta-de-la-amm-sobre-las-personas-en-huelga-de-hambre/", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span> Ver documento

                tr
                    td Oficina de las Naciones Unidas Contra la Droga y el Delito UNODC. Reglas Mínimas de las Naciones Unidas para el Tratamiento de los Reclusos. Las Reglas Nelson Mandela. Mayo de 2015. Reglas 24 a 27 y 29 a 35. Servicios Médicos y Sanitarios.
                    td PDF
                    td(style="width:200px") 
                        a(href="https://www.unodc.org/documents/justice-and-prison-reform/Brochure_on_the_The_UN_Standard_Minimum_the_Nelson_Mandela_Rules-S.pdf", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span> Ver documento               