include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container

    .header-ecored
        h1 2. Dilemas éticos en el ejercicio del trabajo en salud en el sistema penitenciario 

    .row.align-items-center.justify-content-center
        .col-12.col-lg-10
            img(src="assets/images/pages/tema-2/infografia.svg").img-fluid

  
    .row.align-items-center.justify-content-center.my-5
        //.col-auto
            img(src="assets/images/pages/tema-1/warning.svg", alt="")
        
        .col
            hr.line-100.bg-orange
            .p-2
                h4 Nota 
                p A continuación se presenta un documento de la guía destinada a personas y organizaciones expuestas a la asistencia de salud penitenciaria.

                section.my-2

                    a(href="https://www.icrc.org/es/publication/atencion-salud-detencion-guia-practica" target="_blank").media-link      

                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon

                        .media-link-title
                            p.text-small #[strong Anexo]. Comité Internacional de la Cruz Roja CICR.  Asistencia de salud en lugares de detención: Guía práctica (2014). 

            hr.line-100.bg-orange