include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container

    .header-ecored
        h1  3. Vulneración de los derechos en el contexto penitenciario. Abuso y violencia sexual, tortura, malos tratos, huelga de hambre y confinamiento solitario


    .jumbotron.bg-white

        .subtitulo-guion
            h2 Abuso y violencia sexual

        p.text-center.my-5
            img(src="assets/images/pages/tema-3/carcel.jpg").img-fluid

        p.my-5 Las cárceles generalmente, son consideradas lugares violentos en comparación con la comunidad, de allí que la violencia en las prisiones es y debe ser un asunto prioritario tanto de la administración penitenciaria como de los servicios de salud al considerarse también un problema de salud pública. 

        p.text-center.my-5
            img(src="assets/images/pages/tema-3/t3-1.svg").img-fluid

    .jumbotron.bg-white.mt-5

        .subtitulo-guion
            h2 Tortura, malos tratos y tratos degradantes

        p.text-center.mb-5.mt-6
            img(src="assets/images/pages/tema-3/t3-2.svg").img-fluid


        p.my-5 En la Convención de las Naciones Unidas contra la tortura, y otros tratos crueles, inhumanos o degradantes, celebrada el 10 de diciembre de 1984 en New York, se definió la tortura como:

        
        .ml-6.mb-5
            blockquote.cita-2.mx-auto «Dolor o sufrimiento grave, ya sea físico o mental, infringido intencionalmente, con propósito específico tal como obtener una confesión o aplicar un castigo, por una persona que ejerce una función pública. Por el contrario, el tratamiento cruel, inhumano o degradante (también llamado maltrato) puede implicar menos dolor o sufrimiento pero sigue siendo sustancial y no necesariamente se comete con un fin específico.»

        .header-arrow--primary.my-5
            h3.text-center.text-white Distinción tortura y tratos crueles inhumanos y degradantes

        .tabla-normas.mx-auto(style="max-width:650px").mt-5
            .bg-brand-color-light
                h4.text-center.m-0.px-4.py-3.text-primary TORTURA
            .bg-brand-color-secondary.mb-0
                p.px-4.py-3.mb-0.border-bottom-white 1. Sufrimiento físico o mental severo.
                p.px-4.py-3.mb-0.border-bottom-white 2. De carácter intencional.
                p.px-4.py-3.mb-0.border-bottom-white 3. Con el fin de obtener confesión, autoinculpación, castigo, amedrantamiento, humillación.
                p.px-4.py-3.mb-0.border-bottom-white 4. Funcionarios públicos en ejrcicio de sus funciones.
                p.px-4.py-3.mb-0 5. Que no corresponda a la aplicación de sanciones leyes.
            .bg-brand-color-light.mt-0
                h4.text-center.m-0.py-3.text-primary MALOS TRATOS / TRATO INHUMANO
            .bg-brand-color-secondary
                p.px-4.py-3.mb-0.border-bottom-white.text-center Posición jurisprudencia 1.<br>Todos los criterios anterioresexcepto el de severidad.
                p.px-4.py-3.mb-0.border-bottom-white.text-center.mb-0 Posición jurisprudencia 2.<br>Todos los criterios anterioresexcepto el de finalidad.
            .bg-brand-color-light.mt-0
                h4.text-center.m-0.py-3.text-primary TRATO DEGRADANTE
            .bg-brand-color-secondary
                p.px-4.py-3.mb-0.border-bottom-white.text-center No se cumplen criterios de gravedad ni finalidad.

        p.text-center.mb-5 <i>Esquema del Doctor Pau Pérez (2015).Congreso Nacional de Psiquiatría. Armenia, Quindío.</i>


        .header-arrow--primary.mb-5
            h3.text-center.text-white Para tener en cuenta:

        .row.justify-content-center.mt-5
            .col-12.col-md-8
                .jumbotron.bg-brand-color-optional.p-4
                    .row.justify-content-center.align-items-center
                        .col-auto
                            img(src="assets/images/pages/tema-3/i1.svg", style="max-width: 120px").img-fluid.mb-3.mb-md-0
                        .col
                            p.mb-0 Toda tortura es psicológica.

        .row.justify-content-center
            .col-12.col-md-8
                .jumbotron.bg-brand-color-optional.p-4
                    .row.justify-content-center.align-items-center
                        .col-auto
                            img(src="assets/images/pages/tema-3/i2.svg", style="max-width: 120px").img-fluid.mb-3.mb-md-0
                        .col
                            p.mb-0 Torturar no equivale a dolor. Equivale a manipular la expectativa del terror

        .row.justify-content-center
            .col-12.col-md-8
                .jumbotron.bg-brand-color-optional.p-4
                    .row.justify-content-center.align-items-center
                        .col-auto
                            img(src="assets/images/pages/tema-3/i3.svg", style="max-width: 120px").img-fluid.mb-3.mb-md-0
                        .col
                            p.mb-0 La ausencia de secuelas no es equivalente a la ausencia de tortura

        .row.justify-content-center
            .col-12.col-md-8
                .jumbotron.bg-brand-color-optional.p-4
                    .row.justify-content-center.align-items-center
                        .col-auto
                            img(src="assets/images/pages/tema-3/i4.svg", style="max-width: 120px").img-fluid.mb-3.mb-md-0
                        .col
                            p.mb-0 La distinción entre tortura y trato inhumano y degradante puede tener sentido desde el punto de vista legal, pero carece de sentido desde el punto de vista de las evidencias médicas y psicológicas.

        p.mt-5 La tortura está prohibida, independientemente del contexto y el ámbito de cada país, y no existen circunstancias que justifiquen una excepción a esta prohibición.


        .row.align-items-center.justify-content-center.my-5
            //.col-auto
                img(src="assets/images/pages/tema-1/warning.svg", alt="")
            
            .col
                hr.line-100.bg-orange
                .p-2
                    h4 Nota 
                    p Para continuar la invitación es a visualizar el siguiente vídeo que corresponde a una visión global de cómo las personas privadas de la libertad tienen derecho a ser tratadas con humanidad.

                    section.my-2

                        a(href="https://www.youtube.com/watch?v=XKJo-XzN9A4&t=341s" target="_blank").media-link      

                            img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon

                            .media-link-title
                                p.text-small #[strong Video]. Cruz Roja Internacional CICR. Cruz Roja Nogales. (2011). En detención: La humanidad tras las rejas. [Archivo de video].

                hr.line-100.bg-orange

    .jumbotron.bg-white.mt-5

        .subtitulo-guion
            h2 Huelga de hambre

        p Causa de dejar de comer = diferencias en el manejo médico.

        p.text-center.mb-5.my-6
            img(src="assets/images/pages/tema-3/huelga.svg").img-fluid

        p.my-5 La pauta más importante para los médicos penitenciarios con respecto a las huelgas de hambre es la <strong>Declaración de Malta de la Asociación Médica Mundial</strong>.

        p.mt-5 Es vital reconocer que ciertos factores médicos pueden predisponer la rápida evolución fatal de un ayuno, tales como: 

        ul.bg-color-dark
            li 
                span Enfermedad cardíaca
            li 
                span Insuficiencia renal 
            li 
                span Diabetes, en especial si es insulino requiriente.
            li 
                span Úlceras gástricas o duodenales

        
